body {
    background-image: url(img/back.jpg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#welcome-section {
    margin-top: 80px;
}

.about-me {}

h1,
h6 {
    margin-left: 150px;
    font-size: 400%;


}

h1 {
    margin-top: 300px;

}

h2 {
    padding-top: 20%;

}

h6 {
    margin-bottom: 300px;
}

.design {
    padding-top: 600px;
    padding-left: 470px;
}